#question-3 {
  width: 100%;
  margin: 0;
  padding: 70px 0 0 0;
}

.taskList {
  list-style: none;
  padding: 0 20px;
}

.taskList li {
  margin: 10px 0;
}

.listTitle {
  /* display: flex; */
  justify-content: space-around;
}

.listIcon {
  font-size: 25px;
  margin: 15px 0;
}

.happy {
  color: green;
}

.learn {
  color: blue;
}

.sad {
  color: red;
}

.listTitle h3 {
  /* display: inline-block; */
  margin: 15px 0;
}