.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section {
  display: flex;
  padding: 50px 0;
}

.answer {
  width: 70ch;
  margin: 30px auto;
}

._50 {
  width: 50%;
  padding: 15px;
}

._33 {
  width: 33%;
  padding: 15px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

footer {
  padding: 10px;
}
